<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>893627132756-muqdopndoa1a0db1jo0nef1lplko54dk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893627132756-muqdopndoa1a0db1jo0nef1lplko54dk</string>
	<key>API_KEY</key>
	<string>AIzaSyAgbSPlt26LGq5DiItQwdswwTlGY7csEhc</string>
	<key>GCM_SENDER_ID</key>
	<string>893627132756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.helen.listodo</string>
	<key>PROJECT_ID</key>
	<string>listodo-57bc7</string>
	<key>STORAGE_BUCKET</key>
	<string>listodo-57bc7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893627132756:ios:ad6675c4628bc11630f6c1</string>
</dict>
</plist>